*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../IMG/Baggrund.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
    position: relative;

}

ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 10px 40px;
    border: 1px solid transparent;
    transition:1s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
    transition: 1s ease;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

ul li ul{
    display: none;
    position: absolute;
    margin-top: 15px;
    left: 0;
    border-spacing: 5px;
}

ul li:hover ul{
    display: block;
    transition: 0.6s ease;
}

ul li ul li {
    width: 200px;
    margin-top: 0px;
    border-radius: 2px;
    transition: 1s ease;
}

ul li ul li a{
    padding: 10px 40px;
}
ul li ul li a:hover {

}

.logo img{
    float: left;
    width: 150px;
    height: 50px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #ffffff;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #ffffff;
    padding:10px 30px;
    color: #ffffff;
    text-decoration: none;
    transition: 1s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

table {
    width: 1200px;
    height: 50px;
    position: relative;
    top: 120px;
    right: 0px;
}

caption{
    color: white;
}

th {
    text-align: center;
    background-color: transparent;
}

table, th, td {
    width: 1000px;
    border: 1px solid #000000;
    border-collapse: collapse;
    color: black;
}

th, td {
    padding: 15px;
    width: auto;
}

tr:nth-child(even){
    background-color: white;
}
tr:nth-child(odd){
    background-color: lightsteelblue; /* LIGHTBLUE ELLER LIGHTSTEELBLUE PREF*/
}